
/********************************
GENERAL
********************************/
body{
    font-family: "open sans", sans-serif
}

a{
    text-decoration: none;
}

#wrapper{
    /* max width is reated to width.  but instead of width, max-width that it can be smaller for mobile devices/
    tablets*/
    max-width: 904px;
    /* margin 0 is for all sides*/
    margin: 0 auto;
    background-color: white;
    /* values first is top and bottom. secon is lest and right*/
    padding: 0 5%;
}

img {
    max-width: 100%;
}

h3{
    margin: 0 0 1em 0;
}
/*******************************
HEADER
*******************************/
header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
    }

#logo{
    /* our name and description of who we are.*/
     text-align: center;
     margin: 0;
    } 
    
    h1{
     font-family: 'Sahitya', serif;
     margin: 15px 0;
     font-size: 1.5em;
    }
        
    h2{
       /* 1st value is for the top 2nd is for lefy and right 3rd is for the bottom*/
       font-size:0.57em;
       margin: 15px 0;
       font-weight: normal;
    }
/*******************************
NAVIGATION
*******************************/
nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li{
    display: inline-block;
}

nav a{
    font-weight: 800;
    padding: 15px 10px;
    
}
/*******************************
FOOTER
*******************************/
footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}

.social-media-icon{
    width: 30px;
    height: 30px;
    margin: 0 5px;   
}
/*******************************
PAGE PORTFOLIO
*******************************/
#gallery{
    margin:0;
    padding:0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgrey;
    color: #0f0f0a;       
}

#gallery li a p{
    margin: 0;
    padding:5%;
    font-size: 0.75em;
    color: #0f0f0a;
}
/*******************************
ABOUT ME PAGE
*******************************/
.portfile-photo{
  display: block;
  max-width: 0 auto 5px;
  border-radius: 15%;
      
} 
/*******************************
CONTACT PAGE
*******************************/
.Contact-Detail{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.Contact-Detail a {
    display: block;
    min-height: 20px;
    /* by defualt it will alwways repeat, background img*/
    background-repeat: no-repeat;
    /* re-size background img.*/
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.Contact-Detail li.mail a {
    background-image: url('../img/mail-1.png');
}

.Contact-Detail li.instagram a {
    background-image: url('../img/instagram-icon.png');
}



/********************************
COLOR
********************************/
    a{
      color: #ff0000;
    }
    
    header{
           background: #cc0000;
    }
    
    h1, h2{
        color: #fff;
    }
    
    nav{
        background: #ff0000;
    }
    
    /* pseduo-class */
    nav a, nav a:visited{
        color: #fff;
    }
    
    nav a.selected, nav a:hover{
        color: #c0c0c0;
     }
   
/********************************
MEDIA QUERIE
********************************/
/* TWO COLUMN LAYOUT*/   
@media screen and (min-width: 480px){
    #primary{
        width: 50%;
        float: left;
    }    
    
    #secondary{
        width: 40%;
        float: right;
    }

/*THREE COLUMN LAYOUT PORTFOLIO*/
#gallery li{
        width: 28.3333%;
    
}

#gallery li:nth-child(4n){
    clear: left;
}
/*ABOUT PAGE*/
.portfile-page{
    float: left;
    margin: 0 5% 80px 0;
}
@media screen and (min-width:660px){
    /*NAV*/
    nav{
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%
    }
    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header{
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }











